@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
 html, body, .grid-container { height: 100%; margin: 0;font-family: 'Maven Pro', sans-serif; }
 body {
   background-color: #1b1b1b;
  padding: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7,minmax(100px, 1fr));
    grid-template-rows: repeat(8, minmax(100px, 1fr));
    gap: 0px 0px;
    grid-template-areas:
      "header header header header header header header"
      "sidebar sidebar main main main main main"
      "sidebar sidebar main main main main main"
      "sidebar sidebar main main main main main"
      "sidebar sidebar main main main main main"
      "sidebar sidebar main main main main main"
      "sidebar sidebar main main main main main"
       "sidebar sidebar main main main main main" ;
  }
  
  .header {
    grid-area: header;
    border-bottom: solid black 1px;
    font-size: 50px;
    color: #ffa31a;
    text-align: center;

}
  
  .sidebar { 
    grid-area: sidebar; 
    overflow:hidden;
    scrollbar-width: none ;
/*     border-right:  solid black 1px;; */
}
  

  .folder{
    min-height: 50px;
    width: auto;
    background-color: transparent;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    font-size: xx-large;
    color: orange;
  }
  .folder:hover{
  background-color: #292929;
  }

  .taskContainer{
    display: grid;
    align-items: start;
    align-content: start;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    overflow:hidden;
    scrollbar-width: none;
    justify-items: center;
      
  }
  .folderContainer{
    overflow:hidden;
    scrollbar-width: none;
  }
  .main { 
    grid-area: main;
    overflow:hidden;
    scrollbar-width: none;
      
}

.taskListContainer{
  overflow:hidden;
  scrollbar-width: none;
}
#newProject{
  width: 98%;
}
  .task{
    margin-top: 5px;
    min-height: 60px;
    min-width: 5rem;
    max-width: 150rem;
    background-color: transparent;
    border:black 1px solid;
    color: #ffa31a;
    display: flex;
    overflow:hiddenl;
    scrollbar-width: none;
    font-size: 25px;
    justify-content: space-around;
    align-items: center;
  }

  .taskComplete{
    color: #000000;
    text-decoration:line-through;
  }

.main::-webkit-scrollbar .task::-webkit-scrollbar{
  display: none;
}
  .taskBtn{
    background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8; 
      margin-left: 5px;
      align-self:center
  }

  .taskIcon{
    background-color: transparent;
    border:none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
  }
  .taskIcon:hover{
    color: orange;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffa31a;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 2px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #555;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(0, 0, 0);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(0, 0, 0);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





  .footer { 
      grid-area: footer;
      border-top:  solid black 1px;;
      width: 100%;
      height: 50px;
      text-align: center;
      background-color: #0c080136;
      color: whitesmoke;
    
    }
  
   

    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      width: 100px;
      position: absolute;
      right: 0;
      bottom: 12.5%;
    }
    
    /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: fixed;
      border: 3px solid #292929;
      z-index: 9;
      min-width: 300x;
      min-height:100px;
      top: 50%;
      left: 50%;
      margin-top: -200; /* Negative half of height. */
      margin-left: -900px;
    }
    
    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: #808080;

    }
    
    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=title] {
      width: 90%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: whitesmoke;
    }
    
    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=title]:focus{
      background-color: rgb(189, 181, 181);
      outline: none;
    }
    
    /* Set a style for the submit/login button */
    .form-container .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel .Projectcancel{
      background-color: red;
    }

    #cancelProject{
      background-color: red;
    }
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    } 
    .btn{
        margin-top: 5px;
    }



